# Environment files
.env
.env.local
.env.production
**/*.yml-e

# Editor
.vscode

# Notes
note/*
notes/*
NOTES.md

# Binaries
go-mud-template-server
go-mud-template-cli

go-mud-player-server
go-mud-player-cli

go-mud-character-server
go-mud-character-cli
